<!DOCTYPE html>
<html>
<head>
    <title>Indian Kanoon API Search</title>
</head>
<body>
    <h1>Indian Kanoon API Search</h1>
    <form action="/search/" method="POST">
        <label for="formInput">Search Query:</label>
        <input type="text" name="formInput" id="formInput">
        <br>
        <label for="pagenum">Page Number:</label>
        <input type="number" name="pagenum" id="pagenum">
        <br>
        <input type="submit" value="Search">
    </form>
</body>
</html>
